// <BUTTON>
// Snippet code "a.btn"
.btn {
  display: inline-block;
  min-height: 40px;
  max-width: 175px;
  padding: 0px 15px;

  color: #fff;
  font-size: 15px;
  line-height: 38px;
  text-align: center;

  background-color: #2e6f58;
  border-radius: 20px;

  transition: all 0.2s ease 0s;

  &:hover {
    background-color: #255c49;
  }

  &.fw {
    width: 100%;
  }
}
// </BUTTON>
