.intro {
  min-height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;

  &__body {
    padding: 50px 15px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

    background-color: rgba($color: #000000, $alpha: 0.7);

    font-family: 'Montserrat';
    color: $introMainColor;
    text-align: center;
  }

  &__title {
    margin: 0px 0px 15px 0px;

    font-size: 55px;
    @include adaptiveValue('font-size', 55, 22);
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 25px;
    @include adaptiveValue('font-size', 25, 16);
    letter-spacing: 1.3px;
  }

  &__video {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }
}
