// Формы
@import 'base/forms/forms';

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*='-ibg'] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
[class*='-ibg_contain'] {
  img {
    object-fit: contain;
  }
}

// Стрелка на начальном экране
$arrowThickness: 3px;
$arrowSize: 25px;
$arrowSmallSize: 20px;

.arrows {
  width: $arrowSize;
  height: $arrowSize;
  position: relative;

  position: absolute;
  bottom: 10px;
  left: 50%;

  transform: translate(-50%, -50%);

  @media (max-width: $mobileSmall) {
    width: $arrowSmallSize;
    height: $arrowSmallSize;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    border-left: $arrowThickness solid $introMainColor;
    border-bottom: $arrowThickness solid $introMainColor;

    transform: translate($arrowThickness, calc($arrowSize * 4 / 3)) rotate(-45deg);
    animation: arrows 3s linear infinite;

    @media (max-width: $mobileSmall) {
      transform: translate($arrowThickness, calc($arrowSmallSize * 4 / 3)) rotate(-45deg);
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    border-left: $arrowThickness solid $introMainColor;
    border-bottom: $arrowThickness solid $introMainColor;

    transform: translate(calc($arrowSize * 2 / 3), 0px) rotate(-45deg);
    animation: arrows 3s linear infinite calc(3s / -2);

    @media (max-width: $mobileSmall) {
      transform: translate(calc($arrowSmallSize * 2 / 3), 0px) rotate(-45deg);
    }
  }
}

@keyframes arrows {
  0% {
    border-left: $arrowThickness solid rgba($color: #fff, $alpha: 0);
    border-bottom: $arrowThickness solid rgba($color: #fff, $alpha: 0);
    transform: translate(calc($arrowSize / -6), calc($arrowSize * 4 / -6)) rotate(-45deg);

    @media (max-width: $mobileSmall) {
      transform: translate(calc($arrowSmallSize / -6), calc($arrowSmallSize * 4 / -6)) rotate(-45deg);
    }
  }
  10%,
  90% {
    border-left: $arrowThickness solid rgba($color: #fff, $alpha: 0);
    border-bottom: $arrowThickness solid rgba($color: #fff, $alpha: 0);
  }
  50% {
    border-left: $arrowThickness solid $introMainColor;
    border-bottom: $arrowThickness solid $introMainColor;
    transform: translate(calc($arrowSize / -6), 0px) rotate(-45deg);

    @media (max-width: $mobileSmall) {
      transform: translate(calc($arrowSmallSize / -6), 0px) rotate(-45deg);
    }
  }
  100% {
    border-left: $arrowThickness solid rgba($color: #fff, $alpha: 0);
    border-bottom: $arrowThickness solid rgba($color: #fff, $alpha: 0);
    transform: translate(calc($arrowSize / -6), calc($arrowSize * 4 / 6)) rotate(-45deg);

    @media (max-width: $mobileSmall) {
      transform: translate(calc($arrowSmallSize / -6), calc($arrowSmallSize * 4 / 6)) rotate(-45deg);
    }
  }
}
