//--------------------------------------------------------------
.footer {
  padding: 20px 0px 15px 0px;

  background-color: #404550;

  &__container {
    max-width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    color: #fff;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__copyright {
    padding: 35px 0px 0px 0px;
    font-size: 16px;
    @include adaptiveValue('font-size', 16, 13);

    a {
      text-decoration: underline;
    }
  }
}
.list {
  &__item {
    font-size: 18px;
    @include adaptiveValue('font-size', 18, 15);

    &.active {
      color: #4fd2a4;
    }

    a {
      text-decoration: underline;
    }
  }
}
//--------------------------------------------------------------
